* {
  margin: 0;
  padding: 0;
}

::placeholder {
  color: #010814a3;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dbdbdb;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

header {
  padding: 30px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:80%;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li:nth-child(2) {
  margin-right: 2rem;
}

.btn {
  display: inline-block;
  width: 140px;
  height: 60px;
  line-height: 60px;
  background-color: transparent;
  color: #010814;
  text-align: center;
  font-size: 18px;
  border-radius: 50px;
  text-decoration: none;
  transition: all ease 0.5s;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60%;
  width: 40%;
  background-color: #697c9c64;
  border-radius: 40px;
}

.textbox {
  width: 90%;
  font-size: 20px;
}

input:focus {
  border-bottom: 1px solid #ffffff;
  transition: all ease 0.8s;
}

.textbox > input {
  border: none;
  outline: none;
  background: none;
  color: #000000;
  font-size: 18px;
  width: 100%;
  float: left;
  padding: 10px 0;
  margin: 8px 0;
  border-bottom: 1px solid #787878;
}

button {
  text-transform: uppercase;
  border: 2px solid #010814;
  cursor: pointer;
}